* {
  font-family: 'Montserrat,Arial,Helvetica Neue,Helvetica', sans-serif;
  padding: 0;
  margin: 0;
  color: $black;
}

p {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden !important;
  &::-webkit-scrollbar {
    display: none;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.text-right{
  text-align: right;
}