.navbar {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  z-index: 1;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;

  &-mobile {
    z-index: 1;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

    &-list-logo {
      z-index: 999;

    }

    .hamburger-react {
      z-index: 999;
    }

    &-menu {
      transition: 2s;
      transform: translateY(-200%);
      position: fixed;
      z-index: 1;
      background: white;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;


      &-linkers {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      &.active {
        transform: translateY(0%);

      }
    }

    &-content {
      padding: .5rem;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-content {
    @include container-1336;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-list {
      &-link {
        transition: .3s;
        display: inline-block;
        text-decoration: none;
        padding: 1rem;
        color: $black;
        border-bottom: 4px solid transparent;

        &:hover, &.active {
          color: $black;
          border-bottom: 4px solid $green;
        }
      }
    }
  }
}

.hero {
  overflow: hidden;
  height: 35rem;
  @include background-image-cover;

  &-content {
    @include container-1336;
    height: 100%;

    &-col {
      @include flex-column-center;
      justify-content: flex-end;

      &-paragraph {
        margin-bottom: 1rem;
      }

      &-image {
        border-radius: 25px 25px 0 0;
        box-shadow: 0px 10px 25px #00000080;
        width: 100%;
      }
    }
  }
}

.social {
  height: 5rem;
  background: $lightGray;
  @include flex-column-center;

  &-content {
    @include container-1336;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-button {
      &:hover{
        color: white;
      }
      color: white;
      padding: .5rem 1rem;
      border-radius: 1.5rem;
      background: $green;
      border: none;
    }
  }
}

.offer {
  padding: 3rem 0;

  &-mobile {
    display: none;
  }

  &-content {
    @include container-1336;

    &-top {
      justify-content: space-between;
      align-items: center;
    }

    &-cards {
      &-item {
        border: none;
        border-radius: 25px;
        text-align: center;
        border-radius: 1rem !important;
        background: $green;
        margin: 1rem;

        &:hover{
          cursor: pointer;
        }
        
        &-image {
          border-radius: 1rem !important;
          height: 200px;
          object-fit: cover;
        }

        &-title {

          @include font-size-16;
          @include font-weight-bolder;
          @include font-color-white;
        }
      }
    }
  }
}


.opinion {
  padding: 3rem 0;
  background: $lightGray;

  &-content {
    @include container-1336;

    &-col {
      margin: 1rem 0;
    }

    &-bottom-card {
      border-radius: 25px;
      height: 100%;
      box-shadow: 0px 5px 10px #00000080;
    }

    &-bottom-cardtext-top {
      margin: 0;
    }
  }
}


.footer {
  &-content {
    padding: 2rem 0;
    @include container-1336;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-comtru{
      &:hover{
        color:#326647
      }
    }
  }
}

.header {
  @include background-image-cover;
  @include flex-column-center;
  align-items: center;
  @media (max-width: 992px) {
    padding-top: 2rem;
  }

  &-text {
    transform: matrix(-1, 0, 0, -1, 0, 0);
    @include font-weight-bolder;
    @include font-color-white;
    @include font-size-256;
    @media (max-width: 992px) {
      @include font-size-96;
    }
  }

  &-paragraph {

    @include font-size-64;
    @include font-weight-bolder;
    @media (max-width: 992px) {
      @include font-size-32;
    }
  }
}


.about {
  height: 18rem;
  display: flex;

  &-revert {
    flex-direction: row-reverse;

    .about-center {
      flex-direction: row-reverse;
    }
  }

  &-container {
    height: 50rem;
    @include flex-column-center
  }


  &-left {
    width: Calc((100% - 1336px) / 2);
    background: $lightGray
  }

  &-center {
    margin: 0;
    width: 1336px;
    background: $lightGray;


    &-col {
      position: relative;
    }

    &-about1 {
      width: 100%;
      height: 200%;
      object-fit: cover;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
      position: absolute;
      box-shadow: 0px 10px 25px #00000080;
      border-radius: 25px;
    }

    &-header {
      margin-top: -3rem;
    }
  }

}


.certificates {
  &-top {
    display: flex;

    &-header {
      padding: 1rem 0 5rem;
      background: $lightGray;
      text-align: center;
      @include font-size-64;
      @include font-weight-bolder;

    }

    &-left {
      width: Calc((100% - 1336px) / 2);
      background: $lightGray
    }

    &-center {
      margin: 0;
      width: 1336px;
      background: $lightGray;
    }
  }

  &-bottom {
    margin-top: -3rem 0 10rem;
    display: flex;

    &-left {
      width: Calc((100% - 1336px) / 2);
    }

    &-center {
      margin: 0;
      width: 1336px;
      background: $lightGray;

      img {
        padding: 0;
      }
    }
  }
}


.cwi {
  display: flex;

  &-grey {
    background: $lightGray

  }

  &-container {
    margin: 10rem 0;
    @include flex-column-center;
    @media (max-width: 992px) {
      display: none;
    }

    &-mobile {
      display: none;
      @media (max-width: 992px) {
        display: block;
      }
    }

  }


  &-left {
    width: Calc((100% - 1336px) / 2);
  }

  &-center {
    margin: 0;
    width: 1336px;


    &-col {
      position: relative;
    }

    &-about1 {
      width: 100%;
      height: 140%;
      object-fit: cover;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      box-shadow: 0px 10px 25px #00000080;
      border-radius: 25px;
    }

    &-header {
      margin-top: -3rem;
    }
  }

}


.cwi {
  &-container {
    &-mobile {
      &-header {
        background: $lightGray;
        padding: 2rem;
        margin: 1rem 3rem 1rem 0;
        box-shadow: .75rem 0 0 0 $green;
        border-radius: 0 25px 25px 0;
        font-weight: bolder;
        text-align: center;
      }

      &-paragraph {
        margin: 2rem;
        font-size:12px;
      }

      &-image {
        img {
          border-radius: 25px;
        }

        margin: 2rem

      }
    }
  }
}

.session {
  margin: 2rem 0;
  display: flex;

  &-left {
    width: Calc((100% - 1336px) / 2);

  }

  &-right {
    width: Calc((100% - 1336px) / 2);

  }

  &-center {
    @media (max-width: 992px) {
      margin: 0 2rem;
    }
    @include container-1336;

    &-content {
      border-radius: 25px;
      background: $lightGray;
      padding: 1rem 2rem;


    }
  }
}

.popup {
  display: none;
  transition: .3s;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: #000000a3;

  @media (max-width: 992px) {
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &.active {
    display: block;
  }

  &-content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    position: relative;
    z-index: 1;
    width: 87rem;
    border-radius: 25px;
    padding: 1rem;

    @media (max-width: 992px) {
      width:90%;
      margin: 5%;
      left: 0;
      top: 0;
      transform: translate(0%);
    }

    &-navi {
      text-align: right;
    }

    &-xicon {
      width: 13px;

      &:hover {
        cursor: pointer;
      }
    }


    &-row {
      &-content {
        padding: 0 2rem;
      }

      padding: 0;

      &-img {
        @media (max-width: 992px) {
          display: none;
        }
        img {
          object-fit: cover;
          border-radius: 25px;
          box-shadow: 0px 10px 25px #00000080;
        }
      }

      &-buttons {
        display: flex;

        &-element {
          margin: 2rem 0;
          padding: 0 2rem 0 0;

          button {
            margin: 1rem 0;
          }
        }
      }
    }
  }
}


@media (max-width: 1336px) {
  .hero-content,
  .social-content,
  .footer-content,
  .opinion-content,
  .offer-content, {
    width: 100%;
  }
}

@media(max-width: 992px) {
  .popup-content-row-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
      text-align: center;
      padding: .5rem;
    }
  }
  .navbar {
    display: none;

    &-mobile {
      display: block;
    }
  }
  .hero {
    padding: 5rem 2rem 2rem 2rem;
    height: auto;

    &-content.row {
      flex-direction: column-reverse;
    }
  }
  .social-content {
    flex-direction: column;

    &-all {
      text-align: center;
      display: block;
    }
  }

  .offer {
    display: none;

    &-mobile {
      display: block;

      .BrainhubCarousel__arrowRight {
        background: $green;
        border-radius: 25px 0 0 25px;

        &:hover {
          background: #1F402C !important;
        }
      }

      .BrainhubCarousel__arrowLeft {
        background: $green;
        border-radius: 0 25px 25px 0;

        &:hover {
          background: #1F402C !important;
        }
      }
    }
  }

  .opinion-content-top {
    margin: .5rem;
  }
  .opinion-content-bottom {
    margin: .5rem;
  }
  .footer-content {
    padding: 1rem 2rem;

    div:nth-last-child(1) {
      text-align: right;
    }

  }

}

.contact-buttons{
  display: flex;
  div{
    display: flex;
    flex-direction: column
  }
}

.footer-content-comtru a{
  &:hover span{
    color: #326647;
  }
  color:black;
  text-decoration:none;
  span{
    color:black;

  }
}

button{
  transition: .4s;
  &:hover{
    background: #1f402c;
  }
}

.offer-content-cards-item{
  transition: .4s;
  &:hover{
    background: #1f402c;
    box-shadow: 0px 10px 25px #00000080;
  }
}
