$green: #326647;

$black: #444444;

$lightGray: #F4F6F7;

.font-color-white {
  color: white;
}

.font-size-64 {
  font-size: 64px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-16 {
  font-size: 16px;
}

.font-weight-bolder {
  font-weight: bolder;
}

.font-color-green {
  color: $green;
}


@mixin font-color-white {
  color: white;
}

@mixin font-color-green {
  color: $green;
}

@mixin font-size-256 {
  font-size: 256px;
}

@mixin font-size-96 {
  font-size: 96px;
}

@mixin font-size-64 {
  font-size: 64px;
}

@mixin font-size-32 {
  font-size: 32px;
}

@mixin font-size-16 {
  font-size: 16px;
}

@mixin font-weight-bolder {
  font-weight: bolder;
}


@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin container-1336 {
  width: 1336px;
  margin: 0 auto;
}

@mixin background-image-cover {
  background-image: url("./../images/bgc.png");
  background-size: cover;
  background-position: center;
}

@mixin border-right-green {
  box-shadow: 20px 0 0 0 $green;
  border-radius: 0 25px 25px 0;
}

@mixin border-left-green {
  box-shadow: -20px 0 0 0 $green;
  border-radius: 25px 0 0 25px;
  text-align: right;

}

@mixin border-bottom-green {
  border-bottom: 1rem solid $green;
}

.border-right-green {
  @include border-right-green;
}

.border-left-green {
  @include border-left-green;
}

.border-bottom-green {
  @include border-bottom-green;
}


@media (max-width:992px){
  .font-size-64 {
    font-size: 32px;
  }
  .font-size-32{
    font-size: 24px;
  }
}